@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #2e2e2e;
    background: linear-gradient(to bottom right, #1f242d, #323946, #5586a2);
    display: grid;
    place-items: center;
}

.page {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
}

.welcome {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 600px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: linear-gradient(#0ef, #558646);
    text-align: center;
    transition: 1s cubic-bezier(.95, .32, .37, 1.31);
    z-index: 2;
}

.welcome h2 {
    margin: 50px 0;
    letter-spacing: 2px;
    color: #fff;
}

.welcome p {
    padding: 0 25px;
    color: #fff;
    font-weight: 300;
}

.login_btn {
    margin: 80px 0;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: .5s;
    transition-delay: .5s;
}

.register_btn {
    margin:80px 0;
    display: none;
    position: absolute;
    top: 57.5%;
    left: 18%;
    width: 200px;
    height: 60px;
    text-align: center;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transition-delay: .5s;
}

.register_btn.active {
    opacity: 1;
    visibility: visible;
    display: block;
}

.login_btn.active {
    opacity: 1;
    visibility: hidden;
    display: none;
}

.register {
    position: absolute;
    top: 0;
    left: 300px;
    width: 500px;
    height: 100%;
    text-align: center;
    transition: 1s cubic-bezier(.95, .32, .37, 1.31);
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

.register h2 {
    position: relative;
    margin: 40px 0;
    padding: 0;
}

.register input {
    margin: 5px 0;
    width: 400px;
    height: 50px;
    font-weight: 700;
}

.reg-input {
    padding: 5px 10px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: .5s;
}

.reg-input:focus {
    border-color: #323946;
}

.register .reg-btn {
    height: 40px;
    font-weight: 600;
    background: linear-gradient(to bottom right, #0ef, #558646);
    color: #fff;
    border-radius: 30px;
    transition: .5s;
    cursor: pointer;
    border: none;
    outline: none;
}

.register .reg-btn:hover {
    transform: scale(1.1);
}

.forg-pass {
    width: 100%;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #2e2e2e;
    font-size: 14px;
}

.welcome.active {
    opacity: 1;
    background: linear-gradient(#0ef, #558646);
    color: #fff;
    left: 62.5%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 1s cubic-bezier(.95, .32, .37, 1.31);
    z-index: 2;
}

.register.active {
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 1s cubic-bezier(.95, .32, .37, 1.31);
}

.login {
    position: absolute;
    top: 0;
    left: 300px;
    width: 500px;
    height: 400px;
    text-align: center;
    z-index: 1;
    opacity: 1;
    visibility: hidden;
    transition: 1s cubic-bezier(.95, .32, .37, 1.31);
}

.login h2 {
    position: relative;
    margin: 40px 0;
    padding: 0;
}

.login input {
    margin: 5px 0;
    width: 400px;
    height: 50px;
    font-weight: 700;
}

.log-input {
    padding: 5px 10px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: .5s;
}

.log-input:focus {
    border-color: #323946;
}

.login .log-btn {
    height: 40px;
    font-weight: 600;
    background: linear-gradient(to bottom left, #0ef, #558646);
    color: #fff;
    border-radius: 300px;
    transition: .5s;
    cursor: pointer;
    border: none;
    outline: none;
}

.login .log-btn:hover {
    transform: scale(1.1);
}

.login.active {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 1s cubic-bezier(.95, .32, .37, 1.31);
}